# Base de données PostgreSQL (Vercel Postgres / Neon / Supabase)
DATABASE_URL="postgresql://neondb_owner:npg_xs4ImKiR0nXS@ep-weathered-credit-zajjo4de-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Admin par défaut (utilisé par le script de seed)
ADMIN_EMAIL="admin@rdvapp.com"
ADMIN_PASSWORD="ChangeMe123!"
