DATABASE_URL="postgresql://neondb_owner:npg_xs4ImKiR0nXS@ep-weathered-credit-zajjo4de-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="8hG7kL2mN9pR4sT1uV6wX3yZ0aB5cD8eF="
NEXTAUTH_URL="http://localhost:3000"